@font-face {
  font-style: normal;
  font-weight: 300;
  font-family: "Ubuntu";
  font-display: swap;
  src:
    url("../fonts/ubuntu-light.woff2") format("woff2"),
    url("../fonts/ubuntu-light.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "BebasNeue";
  font-display: swap;
  src:
    url("../fonts/bebasneue-regular.woff2") format("woff2"),
    url("../fonts/bebasneue-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Montserrat";
  font-display: swap;
  src:
    url("../fonts/montserrat-regular") format("woff2"),
    url("../fonts/montserrat-regular.woff") format("woff");
}

@font-face {
  font-style: normal;
  font-weight: 900;
  font-family: "Montserrat";
  font-display: swap;
  src:
    url("../fonts/montserrat-black") format("woff2"),
    url("../fonts/montserrat-black.woff") format("woff");
}
